<div class="w-full h-screen flex flex-col justify-center items-start">
    <span class="max-w-[60ch] flex flex-col gap-4 mb-4">
        <h1 class="text-3xl font-bold">Nice to Meet you!</h1>
        <p>Back in 2015, I embarked on an exciting journey as a software engineer, blending my passions for both design and technology. Fast-forward eight years, and I've had the pleasure of collaborating with some truly amazing folks, crafting memorable experiences and building platforms that cater to the needs of businesses and everyday users alike. My heart is set on designing intuitive, inclusive, and visually stunning creations that not only turn heads but also stand the test of time in their reliability and maintainability. Let's create something beautiful together!</p>
    </span>
</div>

