---
import Bubbles from "./Bubbles.vue";
import WavesAnimation from "./WavesAnimation.vue";
---
<div class="h-screen relative bg-gradient-to-r from-blue-400 to-purple-400">
    <div class=" h-80 flex flex-col absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
        <div class="text-[50px] text-slate-700">Hi There, I'm</div>
        <h1 class="text-[80px] font-bold -my-6 text-white">Justin Arnold</h1>
        <h2 class="text-[50px] text-slate-700">Software Engineer & Designer</h2>
        <p class="text-xl font-semibold text-white max-w-[40ch]">I am passionate about solving users problems in beautiful ways. Curious by nature and always learning.</p>
    </div>
    <Bubbles class="absolute top-0 left-0 h-full" client:only />
    <WavesAnimation class="absolute bottom-0 left-0 -translate-y-[100$]" client:only />
</div>
