---
import Logo from './Logo.astro'
---
<div class="fixed w-full top-0 h-12 wrapper z-10 p-4">
    <div class="flex justify-between relative h-12 align-center py-1">
            <Logo></Logo>
        <div class="flex gap-4">
            <button>Home</button>
            <button>About</button>
            <button>Blog</button>
            <button>Contact</button>
        </div>
    </div>
</div>
