<div class="w-full h-screen flex flex-col justify-center items-start">
    <span class="max-w-[60ch] flex flex-col gap-4 mb-4">
        <h1 class="text-2xl font-bold">These are some of my recent projects:</h1>
        <div class="grid grid-cols-3 gap-4">
            <div class="h-40 w-40 rounded bg-slate-300">2023 Portfolio</div>
            <div class="h-40 w-40 rounded bg-slate-300">Gradient X</div>
            <div class="h-40 w-40 rounded bg-slate-300">Beat Sync</div>
        </div>
    </span>
</div>