<div class="w-full h-screen grid place-items-center bg-blue">
    <span class="max-w-[60ch] flex flex-col gap-4">
        <h1 class="text-4xl font-bold">This is what I use</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt eos animi aut deserunt quis! Reprehenderit, vitae? Ex illo, explicabo esse ipsam minima cum quisquam culpa perferendis veritatis in minus totam.</p>
    </span>
</div>