---
import MainHead from "../components/MainHead.astro";
import Header from "../components/Header.astro";
import AboveTheFold from "../components/HomePageSections/AboveFold.astro";
import AboutMe from "../components/HomePageSections/AboutMe.astro";
import PastWork from "../components/HomePageSections/PastWork.astro";
import Projects from "../components/HomePageSections/Projects.astro";
import ContactMe from "../components/HomePageSections/ContactMe.astro";
import Footer from "../components/Footer.astro";
---
<html lang="en">
	<MainHead></MainHead>
	<body class="dark:bg-slate-800 text-slate-900 dark:text-white">
        <Header></Header>
        <AboveTheFold></AboveTheFold>
        <section class="wrapper z-[10] relative dark:bg-slate-700">
            <AboutMe></AboutMe>
            <PastWork></PastWork>
            <Projects></Projects>
            <ContactMe></ContactMe>
            <Footer></Footer>
        </section>
	</body>
</html>

<script>
    import AOS from 'aos'
    import 'aos/dist/aos.css'

    AOS.init()
</script>