---
import MainHead from "../../components/MainHead.astro";
import Header from "../../components/Header.astro";
import AboveTheFold from "../../components/AboveTheFold.astro";
import AboutMe from "../../components/AboutMe.astro";
import TechStack from "../../components/TechStack.astro";
import PastWork from "../../components/PastWork.astro";
import ContactMe from "../../components/ContactMe.astro";
import Footer from "../../components/Footer.astro";
---
<html lang="en">
	<MainHead></MainHead>
	<body class="dark:bg-slate-800 text-slate-900 dark:text-white">
        <Header></Header>
        <AboveTheFold></AboveTheFold>
        <section class="wrapper z-[10] relative dark:bg-slate-700">
            <AboutMe></AboutMe>
            <TechStack></TechStack>
            <PastWork></PastWork>
            <ContactMe></ContactMe>
            <Footer></Footer>
        </section>
	</body>
</html>