---
import MainHead from "../components/MainHead.astro";
---
<html lang="en">
	<MainHead></MainHead>
	<body class="dark:bg-slate-800 text-slate-900 dark:text-white">
        Message Sent!
	</body>
</html>