---
import '../styles/global.css'
---
<head>
    <meta charset="utf-8" />
    <title>Justin Arnold | Full Stack Engineer | Portfolio</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content={Astro.generator} />
    <meta name="author" content="Justin Arnold">
    <meta name="description" content="Explore the portfolio of Justin Arnold, an Full Stack Engineer with expertise in Typescript, Javascript, Python and a wide array of frameworks. Browse projects, skills, and get in touch!">
    <meta name="keywords" content="Full Stack Engineer, Web Development, Software Engineering, Justin Arnold, Programming Portfolio">
    <meta property="og:title" content="Justin Arnold | Full Stack Engineer | Portfolio">
    <meta property="og:description" content="Explore the portfolio of Justin Arnold, an Full Stack Engineer with expertise in Typescript, Javascript, Python and a wide array of frameworks. Browse projects, skills, and get in touch!">
    <!-- <meta property="og:image" content="path/to/thumbnail.jpg"> -->
    <meta property="og:url" content="http://www.justin-arnold.com">
    <!-- <meta name="twitter:card" content="summary_large_image"> -->
</head>