<div class="full-bleed bg-gradient-to-r from-blue-400 to-purple-500 text-center pb-16">
    <svg viewBox="0 0 100 10" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M 0 0 Q 50 10 100 0" class="fill-white dark:fill-base-100"></path>
    </svg>
    <h1 class="font-bold text-white">Made By Justin Arnold @2023</h1>
</div>