---
import Logo from './Logo.astro'
import ThemeToggle from './themeToggle.vue';
---

<div class="fixed w-full top-0 h-fit z-[999] py-4 px-8">
    <div class="flex justify-between relative h-12 align-center py-1">
            <Logo></Logo>
        <div class="flex gap-4 items-center">
            <ThemeToggle client:only="vue"></ThemeToggle>
        </div>
    </div>
</div>

