---
import Bubbles from "../Bubbles.vue";
import WavesAnimation from "../WavesAnimation.vue";
import HomeSection from "../storyblok/HomeSection.astro";

const { blok } = Astro.props
---
<div class="h-screen relative bg-gradient-to-r from-primary to-secondary dark:from-primary/60 dark:to-secondary/60">
    <div class="absolute wrapper h-screen w-screen">
    	<HomeSection blok={blok} />
    </div>
    <Bubbles class="absolute top-0 left-0 h-full" client:only />
    <WavesAnimation class="absolute bottom-0 left-0 -translate-y-[100%]" client:only />
</div>

<style>
    html {
        scroll-behavior: smooth;
    }
</style>
