---
const companies: {name: string, url: string}[] = [
    {
        name: 'Extra Space Storage',
        url: 'https://images.ctfassets.net/fynvlmu126fq/3MhRypLbWA7WwzbBFCK9R3/0f9861a14e069072a5a0a165ee257ba0/ess-logo.svg'
    }, {
        name: 'eWebData',
        url: 'https://ewebdata.com/wp-content/uploads/2022/08/Ewebdata-logo-updated-1-e1661457259624.png'
    }, {
        name: 'Internetwork Engineering',
        url: 'https://www.ineteng.com/hubfs/IE-Logo-White-01.png'
    } , {
        name: 'Gradecam',
        url: 'https://gradecam.com/wp-content/uploads/2020/07/logo-white.png'
    } , {
        name: 'University of Tennessee Medical Center',
        url: 'https://www.utmedicalcenter.org/themes/custom/finch/logo.svg'
    }
]
---
<script>
    document.querySelector('[data-tab-1-button]')!.addEventListener('click', () => switchTab(0));
    document.querySelector('[data-tab-2-button]')!.addEventListener('click', () => switchTab(1));
    document.querySelector('[data-tab-3-button]')!.addEventListener('click', () => switchTab(2));
    document.querySelector('[data-tab-4-button]')!.addEventListener('click', () => switchTab(3));
    document.querySelector('[data-tab-5-button]')!.addEventListener('click', () => switchTab(4));
    document.querySelector('[data-tab-6-button]')!.addEventListener('click', () => switchTab(5));

    function switchTab(tabIndex: number) {
        let tabButtons = document.getElementsByClassName('tab-button');
        let tabContents = document.getElementsByClassName('tab-content');

        for (let i = 0; i < tabButtons.length; i++) {
            if (i === tabIndex) {
                tabButtons[i].classList.add('active');
                tabContents[i].classList.add('visible');
            } else {
                tabButtons[i].classList.remove('active');
                tabContents[i].classList.remove('visible');
            }
        }
    }
</script>

<div class="w-full flex flex-col justify-center items-start" data-aos="fade-up" data-aos-duration="2000" data-aos-offset="400" data-aos-mirror="true">
    <div class="flex w-full items-center mb-4 gap-2">
        <h1 class="text-3xl font-bold whitespace-nowrap">Companies I've worked with</h1>
        <div class="bg-gradient-to-r from-blue-400 to-purple-500 h-[1px] rounded grow w-full"></div>
    </div>
    <span class=" flex flex-col mb-48">
        <div class="flex gap-8 flex-col sm:flex-row">
            <div class="tab-buttons flex sm:flex-col w-fit shrink-0 flex-wrap">
                <div data-tab-1-button class="tab-button active">Gradecam</div>
                <div data-tab-2-button class="tab-button">NuCamp</div>
                <div data-tab-3-button class="tab-button">eWebData</div>
                <div data-tab-4-button class="tab-button">U.T. Medical Center</div>
                <div data-tab-5-button class="tab-button">Storage Express</div>
                <div data-tab-6-button class="tab-button">Misc. Freelancng</div>
            </div>
            <div class="tab-contents h-[400px] sm:overflow-y-hidden pl-1">
                <div data-tab-1-content class="tab-content visible">
                    <h4 class="text-xl">Software Engineer</h4>
                    <p class="text-slate-400 text-sm">Feb 2022 - Present</p>
                    <div class="text-xs font-regular text-slate-800 flex gap-2 flex-wrap my-2">
                        <span class="chip">Typescript</span>
                        <span class="chip">Vue 3</span>
                        <span class="chip">AngularJS</span>
                        <span class="chip">Tailwind</span>
                        <span class="chip">Storybook</span>
                        <span class="chip">MongoDB</span>
                    </div>
                    <ul class="list-disc w-full h-full overflow-y-auto">
                        <li>Rearchitected current in-house component library doubling development environment performance, and reducing bundle size by 80%.</li>
                        <li>Helped migrate the main product from AngularJS to Vue 3, with a strong focus on reducing complexity of the codebase to increase readability and maintainability.</li>
                        <li>Designed several new product features, prioritizing user-friendly workflows, actionable data, and accelerated onboarding speed.</li>
                        <li>Established and maintained documentation for the component library and design system using Storybook.</li>
                    </ul>
                </div>
                <div data-tab-2-content class="tab-content">
                    <h4 class="text-xl">Course Instructor</h4>
                    <p class="text-slate-400 text-sm">December 2021 - February 2023</p>
                    <div class="text-xs font-regular text-slate-800 flex gap-2 flex-wrap my-2">
                        <span class="chip">Python</span>
                        <span class="chip">Javascript</span>
                        <span class="chip">React</span>
                        <span class="chip">HTML / CSS</span>
                        <span class="chip">Sqlite</span>
                    </div>
                    <ul class="list-disc w-full h-full overflow-y-auto">
                        <li>Instructed 60+ students spanning 5 courses.</li>
                        <li>Delivered a range of courses, such as Web Development Fundamentals and Introduction to Data Structures and Algorithms.</li>
                        <li>Transformed curricula into into highly engaging presentations and activities to foster a passion for learning.</li>
                        <li>Consistently achieved a 4.98 ⭐ rating across all lectures, reflecting a commitment to high-quality instruction and student satisfaction.</li>
                    </ul>
                </div>
                <div data-tab-3-content class="tab-content">
                    <h4 class="text-xl">Software Engineer</h4>
                    <p class="text-slate-400 text-sm">April 2021 - December 2021</p>
                    <div class="text-xs font-regular text-slate-800 flex gap-2 flex-wrap my-2">
                        <span class="chip">Vue</span>
                        <span class="chip">Typescript</span>
                        <span class="chip">Java</span>
                        <span class="chip">MongoDB</span>
                        <span class="chip">Tailwind</span>
                    </div>
                    <ul class="list-disc w-full h-full overflow-y-auto">
                        <li>Updated and maintained a web application in Vue 3 for aggregating and enriching visitor data for car dealers for lead generation.</li>
                        <li>Developed a user-friendly API, enabling dealers to seamlessly integrate data into subsequent lead management platforms.</li>
                        <li>Maintained Java backend using Spring.</li>
                        <li>Designed an intelligent tracking pixel to monitor users across dealer websites, used in the data enrichment process.</li>
                    </ul>
                </div>
                <div data-tab-4-content class="tab-content">
                    <h4 class="text-xl">Software Engineer</h4>
                    <p class="text-slate-400 text-sm">March 2019 - May 2021</p>
                    <div class="text-xs font-regular text-slate-800 flex gap-2 flex-wrap my-2">
                        <span class="chip">Python</span>
                        <span class="chip">Django</span>
                        <span class="chip">Sqlite</span>
                        <span class="chip">HTML / CSS</span>
                        <span class="chip">Javascript</span>
                    </div>
                    <ul class="list-disc w-full h-full overflow-y-auto">
                        <li>Developed a Python desktop application as a user-friendly interface for the Cisco CUCM API, streamlining workflows for the hospital's Unified Communications team.</li>
                        <li>Designed an inventory management system for efficient tracking and organization of phones and networking equipment within the U.C. team.</li>
                        <li>Implemented a web interface for convenient remote access to the inventory management system both on and off-campus.</li>
                        <li>Established a web portal to gather valuable feedback from hospital staff during a significant campus-wide phone system migration, ensuring a smooth transition.</li>
                    </ul>
                </div>
                <div data-tab-5-content class="tab-content">
                    <h4 class="text-xl">IT Developer</h4>
                    <p class="text-slate-400 text-sm">Augut 2015 - February 2019</p>
                    <div class="text-xs font-regular text-slate-800 flex gap-2 flex-wrap my-2">
                        <span class="chip">Python</span>
                        <span class="chip">Javascript</span>
                        <span class="chip">Django</span>
                        <span class="chip">Sqlite</span>
                        <span class="chip">HTML / CSS</span>
                        <span class="chip">Flask</span>
                    </div>
                    <ul class="list-disc w-full h-full overflow-y-auto">
                        <li>Developed an IT staff portal for comprehensive management of devices across 200+ remote properties, including DVR systems, wireless radios, kiosks, and gate entry systems.</li>
                        <li>Created a status dashboard displayed at headquarters, enabling real-time monitoring and rapid response to outages of critical equipment at remote locations.</li>
                        <li>Delivered remote technical support for maintenance teams, assisting with on-site hardware troubleshooting and ensuring optimal performance.</li>
                        <li>Developed a desktop application to expedite the configuration process for diverse hardware devices, including networking equipment, cameras, and gate control boards, deployed at remote sites.</li>
                    </ul>
                </div>
                <div data-tab-6-content class="tab-content">
                    <h4 class="text-xl">Freelance Developer and Designer</h4>
                    <p class="text-slate-400 text-sm">Augut 2015 - Present</p>
                    <div class="text-xs font-regular text-slate-800 flex gap-2 flex-wrap my-2">
                        <span class="chip">Javascript</span>
                        <span class="chip">Django</span>
                        <span class="chip">Python</span>
                        <span class="chip">Mongo</span>
                        <span class="chip">Sqlite</span>
                        <span class="chip">HTML / CSS</span>
                    </div>
                    <ul class="list-disc w-full h-full overflow-y-auto">
                        <li>Built a web application for comprehensive search, view, and edit capabilities of lute sheet music, catering to musicians' specific needs.</li>
                        <li>Crafted numerous static content-driven websites for diverse businesses, including photography studios, coffee shops, blogs, and company home pages.</li>
                        <li>Developed a Python desktop application for a chess instructor to conduct live remote games with students while providing real-time chat instruction during gameplay.</li>
                        <li>Implemented an automation process to enhance users' digital movie collections with web-scraped metadata and trailers, delivering a more immersive and informative viewing experience.</li>
                    </ul>
                </div>
            </div>
        </div>
    </span>
</div>

<style>
    .tab-buttons {
            display: flex;
            margin-bottom: 10px;
        }

        .tab-button {
            padding: 10px;
            cursor: pointer;
            /* border: 1px solid #ccc; */
        }

        .tab-content {
            display: none;
            padding: 10px;
            height: 100%;
        }

        .active {
            @apply bg-gradient-to-r from-blue-400 to-purple-500 rounded text-white;
        }

        .visible {
            display: block;
        }

        li {
            margin-left: 16px;
        }
</style>